
@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Login";
}

@model Trailr.Models.UserAccount
<h1>Login</h1>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email)<br />

    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password)<br />

    <button type="submit">Log in</button>
}
@ViewBag.ValidationMessage